<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html"
            target=".output/tests/coverage"
            charset="UTF-8"
            yui="true" highlight="false"
            lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target=".output/tests/coverage.xml" />
        <log type="junit" target=".output/tests/logfile.xml" logIncompleteSkipped="false" />
        <log type="tap" target=".output/tests/logfile.tap" />
    </logging>
</phpunit>
